<p id="notice"><%= notice %></p>

<p>
  <strong>Numero table:</strong>
  <%= @session.numero_table %>
</p>

<p>
  <strong>Expire:</strong>
  <%= @session.expire %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
