<p id="notice"><%= notice %></p>

<p>
  <strong>Quantite:</strong>
  <%= @commande.quantite %>
</p>

<p>
  <strong>Produit:</strong>
  <%= @commande.produit_id %>
</p>

<p>
  <strong>Session:</strong>
  <%= @commande.session_id %>
</p>

<%= link_to 'Edit', edit_commande_path(@commande) %> |
<%= link_to 'Back', commandes_path %>
